# 环境变量
ENV=development
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=travel
SERVER_PORT=8080
# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
# 可选：设置代理加速
GOPROXY=https://goproxy.cn,direct
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=travel
# 图片访问域名
QINIU_DOMAIN=http://tf2fmmjt0.hd-bkt.clouddn.com
QINIU_ZONE=z0
# 小程序上传图片地址
UPLOAD_PREFIX=dev/upload/
# 后台上传图片地址
UPLOAD_PREFIX_ADMIN=dev/upload-admin/
# 二维码地址
UPLOAD_PREFIX_QRCODE=dev/qrcode/
# 小程序配置
APPID=
APPSECRET=
# 高德地图key
AMAP_KEY=
# deepseek key
DEEPSEEK_API_KEY=

# 微信支付
WECHATPAYMCHID=      # 商户号
WECHATAPIV3=       # APIv3密钥
WECHATPAYPRIVATECERT=     # 商户证书序列号
WECHATPAYPRIVATEKEYPATH=      # 商户私钥路径
PUBLICKEYPATH=        # 商户使用微信支付公钥验签
PUBLICKEYSERIALNO=
WECHATPAYNOTIFYURL=https://honest-planes-serve.loca.lt/api/v1/pay/notify # 支付请求参数，要调用pay/notify接口，支付结果回调地址